!!!
%html
  %head
    %title Patentmap
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    = favicon_link_tag '/funginstitute.ico'
  %body

    .container
      .row
        .span12
          = yield

    = render 'maps/partials/footer'
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false", "application"      
